*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
img{
    width: 100%;
}
.header_top-logo img{
    margin-top: 40px;
    width: 120px;
    border-radius: 50%;
}
.sidebar{
    width: 300px;
    position: fixed;
    box-shadow: 5px 0px 3px rgb(163, 161, 161);
    height: 100%;
    background-color: rgb(61, 44, 60);
}
.header_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_top-navigation{
    width: 100%;
}
.header_top-navigation ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.header_top-navigation ul li{
    margin-top: 10px;
    width: 100%;
}
.header_top-navigation ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
    transition: all .20s ease;
    color: white;
}
.header_top-navigation ul li a:hover{
    background-color: rgb(182, 130, 72);
}
.main{
    margin-left: 300px;
    padding: 15px;
}
.main_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #ccc;
}
.main_content-info{
    width: 60%;
}
.main_content-image{
    width: 40%;
    height: 40%;
}
.main_content-info_text{
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main_content-info_title{
    margin-top: 20px;
}
.main_content-info_button button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkorange;
    color: white;
    font-size: 17px;
}
.main_content-post{
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 1px #ccc;
}
.header{
    height: 80%;
}
.footer{
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}
.copyright{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    color: rgb(216, 121, 14);
}
.main_content-form{
	width: 50%;
}
.main_content-form input{
	width: 100%;
	height: 30px;
	margin: 10px 0px;
	padding: 5px;
	border:1px solid rgb(216, 121, 14);
	border-radius: 5px;

}
.main_content-form textarea{
	width: 100%;
	height: 150px;
	margin: 10px 0px;
	padding: 5px;
	border:1px solid rgb(216, 121, 14);
	border-radius: 5px;

}
.main_content-form input[type='submit']{
	background-color: rgb(216, 121, 14);
	color: #fff;
	font-size: 16px;
	height: 40px;
	border: none;
	cursor: pointer;
	width: 20%;
}
.main_content-contact{
	width: 50%;
	display: flex;
	justify-content: center;
}
.main_content-contact h2{
	margin-top: 20px;
}
.main_content-product_page{
    margin-left: 50px;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main_content-product_page-post{
    border: 1px solid gray;
    padding: 15px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px rgb(163, 161, 161);
    justify-content: center;
    align-items: center;
}
.main_content-product_page-post a{
    padding: 7px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(61, 44, 60);
    color: darkorange;
    font-size: 25px;
}
.paragraph{
    font-size: 25px;
    color: darkorange;
    margin: 7px;
}
.main_content-product_page-post_image{
    width: 100%;
    height: 100%;
}
.main_content-info1{
    width: 50%;
    display: block;
}
.main_content-info2{
    display: inline;
}
.main_content-title1{
    display: block;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: center;
}
.main_content-info2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main_content-info_title1{
    width: 100%;
}
.main_content-info_video{
    width: 45%;
}
.main_content-info_video1{
    width: 45%;
}
.main_content-image_page{
    width: 40%;
    height: 40%;
    margin: 10px;
}
#main-content_div{
    width: 100%;
    border: 1px solid rgb(61, 44, 60);
}
#paragraph-id{
    margin: 10px;
}